<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/admin/main-page.css" />
    </head>
    <body>
        <div class="wonder" id="wonder">
            <div class="row-wonder-top">
                <div class="chat">Chat With us</div>
                <div class="hello">👋 Xin chào! Bạn vui lòng nhập câu hỏi hoặc
                    gợi ý sản
                    phẩm bạn đang mong muốn tìm kiếm. Lethnic rất sẵn sàng hỗ
                    trợ bạn!
                </div>
            </div>
            <div class="row-wonder-between">
                <textarea placeholder="Write message" rows="6" maxlength="350"></textarea>
                <i class="fas fa-paper-plane"></i>
            </div>
            <div class="row-wonder-bottom">
                <div class="question">Instant answers</div>
                <div class="Instant">
                    <div class="common-instant">
                        <div class="col-instant">Tôi muốn kiểm tra đơn hàng?</div>
                        <i class="fas fa-paper-plane"></i>
                    </div>
                    <div class="common-instant">
                        <div class="col-instant">Tôi muốn hỏi về thời gian giao
                            hàng?</div>
                        <i class="fas fa-paper-plane"></i>
                    </div>
                    <div class="common-instant">
                        <div class="col-instant">Tôi muốn hỏi về dịch vụ Khắc
                            Tên / Gói Quà?</div>
                        <i class="fas fa-paper-plane"></i>
                    </div>
                    <div class="common-instant">
                        <div class="col-instant">Track my order</div>
                        <i class="fas fa-paper-plane"></i>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>