<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/customer/cart/cart.css" />
        <link rel="stylesheet" href="/css/admin/main-page.css" />
        <link rel="icon" type="image/x-icon"
            href="/img/Img/ico-32x32_32x32.webp" />
        <link href="/css/font-awesome/css/all.css" rel="stylesheet">
        <title>Giỏ hàng của bạn - LETHNIC </title>
    </head>
    <body>
        <div class="row-promotion" id="row-promotion">
            <div class="common-col-promotion">
                Freeship cho đơn hàng từ 1 triệu đồng
            </div>
            <div class="common-col-promotion col-x"
                onclick="button_promotion()">x</div>
        </div>
    </div>
    <div class="row-header" id="row-header">
        <div class="col-1-header">
            LETHNIC </div>
        <div class="col-2-menu-header">
            <ul>
                <li>
                    <div class="parent-sup-menu">Ví Nam

                    </div>
                    <div class="sup-menu-header">
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Mini - Nhỏ Gọn - Ví
                                Card</div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Kẹp Tiền - Money
                                Clip</div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Handmade</div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Ngang</div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Đứng</div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Gập Đôi - Bifold
                                Wallet</div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Gập Ba - Trifold
                                Wallet</div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Có Ngăn Khóa Kéo</div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Dài Nam</div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví vải</div>
                        </div>
                        <div class="common-menu-wallet" style="border:
                            none">
                            <div class="hover-wallet">Tất cả cho Nam</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="parent-sup-menu">Ví Nữ </div>
                    <div class="sup-menu-header">
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Mini - Ví Card</div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Ví Dài </div>
                        </div>
                        <div class="common-menu-wallet">
                            <div class="hover-wallet">Tất cả cho nữ</div>
                        </div>
                    </li>
                    <li>
                        <div class="parent-sup-menu">Thắt Lưng</div>
                    </li>
                    <li>
                        <div class="parent-sup-menu">Collection</div>
                        <div class="sup-menu-header">
                            <div class="common-menu-wallet">
                                <div class="hover-wallet">Love Collection -
                                    Valentine 2022</div>
                            </div>
                            <div class="common-menu-wallet">
                                <div class="hover-wallet">Meron Collection
                                </div>
                            </div>
                            <div class="common-menu-wallet">
                                <div class="hover-wallet">Sáp - Waxed Oil
                                    Leather </div>
                            </div>
                            <div class="common-menu-wallet">
                                <div class="hover-wallet">Leader Collection
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="parent-sup-menu pos-icon">
                            Khắc Tên
                            <div class="icon-hot">hot
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="parent-sup-menu">
                            <a href="/blog"> Blog</a>
                        </div>
                        <div class="sup-menu-header">
                            <div class="common-menu-wallet">
                                <div class="hover-wallet">Xu Hướng </div>
                            </div>
                            <div class="common-menu-wallet">
                                <div class="hover-wallet">Quà Tặng</div>
                            </div>
                            <div class="common-menu-wallet">
                                <div class="hover-wallet">Kiến Thức Ngành</div>
                            </div>
                            <div class="common-menu-wallet">
                                <div class="hover-wallet">Phong Thuỷ</div>
                            </div>
                            <div class="common-menu-wallet">
                                <div class="hover-wallet">Tuyển Dụng</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="parent-sup-menu">Tuyển Dụng</div>
                    </li>
                </ul>
            </div>
            <div class="col-3-header">
                <div class="accounts">
                    <i class="fas fa-search"></i>
                </div>
                <div class="accounts">
                    <a href="/account">
                        <i class="far fa-user"></i>
                    </a>
                </div>
                <div class="accounts">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div>
            <div class="header-cart">Giỏ hàng</div>
            <div class="producted">
                <div class="col-1"></div>
                <div class="col-2"></div>
                <div class="col-3"></div>
            </div>
            <div></div>
        </div>
    </body>
</html>